@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var request = HttpContextAccessor.HttpContext.Request;
    var urlSegments = request.Path.Value.Trim('/').Split('/');
    var activeUrl = urlSegments != null && urlSegments.Length > 1 ? urlSegments[1] : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Basecode</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Basecode.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-black border-bottom box-shadow mb-3 p-0 fixed-top">
            <div class="container-fluid">
                @if (User.IsInRole("admin") || User.IsInRole("hr"))
                {
                    <a class="navbar-brand text-white me-0 me-md-3" asp-area="" asp-controller="hr" asp-action="AdminDashboard"></a>
                }
                else
                {
                    <a class="navbar-brand text-white me-0 me-md-3" asp-area="" asp-controller="Home" asp-action="Index"></a>
                }
                <div class="d-flex d-md-none ms-auto align-items-center login">
                    <partial name="_LoginPartial" />
                </div>
                <div class="navbar-collapse d-md-inline-flex justify-content-evenly">
                    <ul class="navbar-nav flex-grow-1 align-items-center">
                        <li class="nav-item @(activeUrl == null || activeUrl == "Index" ? "nav-selected" : "")">
                            <a class="nav-link fw-semibold mx-3" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item @(urlSegments[0] == "Job" || activeUrl == "ApplicationForm" ? "nav-selected" : "")">
                            <a class="nav-link fw-semibold mx-3" asp-area="" asp-controller="Job" asp-action="FindJobs">FIND JOBS</a>
                        </li>
                        <li class="nav-item @(activeUrl == "TrackApplication" ? "nav-selected" : "")">
                            <a class="nav-link fw-semibold mx-3" asp-area="" asp-controller="Applicant" asp-action="TrackApplication">TRACK APPLICATION</a>
                        </li>
                        <li class="nav-item @(activeUrl == "ContactUs" ? "nav-selected" : "")">
                            <a class="nav-link fw-semibold mx-3" asp-area="" asp-controller="Applicant" asp-action="ContactUs">CONTACT US</a>
                        </li>
                    </ul>
                    <div class="d-none d-md-flex align-items-center login">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>