<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Basecode</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Basecode.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3 p-0 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand text-white me-3" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-evenly">
                    <ul class="navbar-nav flex-grow-1 align-items-center">
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString().Equals("Index") ? "nav-selected" : "")">
                            <a class="nav-link fw-semibold mx-3" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString().Equals("FindJobs") || ViewContext.RouteData.Values["action"].ToString().Equals("JobDescription") || ViewContext.RouteData.Values["action"].ToString().Equals("ApplicationForm") ? "nav-selected" : "")">
                            <a class="nav-link fw-semibold mx-3" asp-area="" asp-controller="Applicant" asp-action="FindJobs">FIND JOBS</a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString().Equals("TrackApplication") ? "nav-selected" : "")">
                            <a class="nav-link fw-semibold mx-3" asp-area="" asp-controller="Applicant" asp-action="TrackApplication">TRACK APPLICATION</a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString().Equals("ContactUs") ? "nav-selected" : "")">
                            <a class="nav-link fw-semibold mx-3" asp-area="" asp-controller="Applicant" asp-action="ContactUs">CONTACT US</a>
                        </li>
                    </ul>
                    <div class="col text-end">
                        <button type="button" class="btn btn-primary me-2"><a class="nav-link login-btn fw-bolder p-2 w-100" asp-area="" asp-controller="Login" asp-action="Index">LOGIN</a></button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
