@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var request = HttpContextAccessor.HttpContext.Request;
    var urlSegments = request.Path.Value.Trim('/').Split('/');
    var activeUrl = urlSegments[1]; // Adjust the index as needed
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Basecode.WebApp.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar open">
        <div class="header-container">
            <a class="logo-details" asp-controller="Home" asp-action="Index">
                <img src="~/images/asi-a-logo.jpg" alt="Alliance Logo" class="alliance-logo">
                <div class="logo-name">
                    <span class="company-name">lliance</span>
                    <span class="company-type">Alliance Software Incorporated</span>
                </div>
            </a>
            <div class="menu-icon">
                <i class='bx bx-menu'></i>
            </div>
        </div>

        <ul class="nav-links">
            <li class="nav-item @(activeUrl == "AdminDashboard" ? " clicked" : "")">
                <a asp-controller="HR" asp-action="AdminDashboard">
                    <i class='bx bxs-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li>
                        <a asp-controller="HR" asp-action="AdminDashboard">
                            <p class="link_name">Dashboard</p>
                        </a>
                    </li>
                </ul>
            </li>
            @if (User.IsInRole("admin"))
            {
                <li class="nav-item @(activeUrl == "HrList"  || activeUrl == "Account" || activeUrl == "EditHrAccountView" ? " clicked" : "")">
                    <a asp-controller="Admin" asp-action="HrList">
                        <i class='bx bxs-user-account'></i>
                        <span class="link_name">Users</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li>
                            <a asp-controller="Admin" asp-action="HrList">
                                <p class="link_name">Users</p>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            <li class="nav-item  @(activeUrl == "JobPostList" ? " clicked" : "" )">
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bxs-briefcase'></i>
                        <span class="link_name">Jobs</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><p class="link_name">Jobs</p></li>
                    <li><a asp-controller="Hr" asp-action="JobPostList" class="sub-menu-item">Job Posting</a></li>
                    <li><a asp-controller="Hr" asp-action="JobApplicantsOverview" class="sub-menu-item">Applicants</a></li>
                </ul>
            </li>
            <li class="nav-item @(activeUrl == "Schedules" ? " clicked" : "" )">
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bxs-calendar-check'></i>
                        <span class="link_name">Schedules</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><p class="link_name">Schedules</p></li>
                    <li><a asp-controller="Hr" asp-action="Interview" class="sub-menu-item">Interviews</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="logout-section" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">
                        <i class='bx bx-log-out'></i> 
                        <span class="link_name">Logout</span>
                    </button>
                    <ul class="sub-menu blank">
                        <li>
                            <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">
                                <p class="link_name">Logout</p>
                            </button>
                        </li>
                    </ul>
                </form> 
                
            </li>
        </ul>
    </div>

    <main class="main-content pb-3" role="main">
        @RenderBody()
    </main>

    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
