@using Basecode.Data.Models
@model List<HrEmployee>
@{
    <title>LIST OF HRs</title>
    Layout = "_SideBarAdmin";

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/HrList.css" />
    <script src="https://kit.fontawesome.com/b68ff1da95.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
}

<body>
    <div class="container-fluid h-100">
        <div class="flex-nowrap">
            <div class="row h-100">
                <div class="col content d-flex flex-column p-0">
                    <div class="hr-list">
                        <div class="bg">
                            <h1 class="header-text m-0">
                                LIST OF HRs
                            </h1>
                        </div>
                        <div class="hr-list-container">
                            <div class="hr-list-data">
                                <a asp-action="CreateHrAccount" class="create-account-button">
                                    Create Account
                                </a>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email Address</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var hrEmployee in Model)
                                        {
                                            <tr>
                                                <td>@hrEmployee.Id</td>
                                                <td>@hrEmployee.Name</td>
                                                <td>@hrEmployee.Email</td>
                                                <td>
                                                    <a asp-route-id="@hrEmployee.Id" asp-action="EditHrAccountView">
                                                        <img src="~/images/icons/edit.png" alt="Edit" class="hr-list-action-icon" />
                                                    </a>
                                                    <!-- Button trigger modal -->
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#@("modal-" + hrEmployee.Id)">
                                                        <img src="~/images/icons/delete.png" alt="Delete" class="hr-list-action-icon" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@foreach (var hrEmployee in Model)
{
    <!-- Modal -->
    <div class="modal fade" id="@("modal-" + hrEmployee.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>
                        <strong>@(hrEmployee.Name + "'s")</strong> account will be <strong>deleted</strong>
                    </p>
                    <p>
                        <strong><span class="text-danger">WARNING!</span> This cannot be undone</strong>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-danger" data-bs-target="#@("modal2-" + hrEmployee.Id)" data-bs-toggle="modal" data-bs-dismiss="modal">
                        DELETE
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="@("modal2-" + hrEmployee.Id)" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>
                        <strong>@(hrEmployee.Name + "'s")</strong> account deleted successfully
                    </p>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-danger" asp-action="DeleteHrAccount" asp-route-id="@hrEmployee.Id">OK</a>
                </div>
            </div>
        </div>
    </div>
}