@using Basecode.Data.Models
@model List<HrEmployee>
@{
    <title>LIST OF HRs</title>
    Layout = null;
    <link rel="stylesheet" href="~/css/hr-list.css" />
}

<div class="page">
    <div class="menu">
        <ul>
            <li class="logo" />
            <li>
                <a asp-action="AdminDashboard">
                    <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-windows" viewBox="0 0 16 16">
                        <path d="M6.555 1.375 0 2.237v5.45h6.555V1.375zM0 13.795l6.555.933V8.313H0v5.482zm7.278-5.4.026 6.378L16 16V8.395H7.278zM16 0 7.33 1.244v6.414H16V0z" />
                    </svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#hrlist" class="active">
                    <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>
                    HR List
                </a>
            </li>
        </ul>
    </div>
    <div class="hr-list">
        <div class="bg">
            <h1 class="header">
                LIST OF HRs
            </h1>
        </div>
        <div class="hr-list-container">
            <div class="hr-list-data">
                <a asp-action="CreateHrAccount" class="create-account-button">
                    Create Account
                </a>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var hrEmployee in Model)
                        {
                            <tr>
                                <td>@hrEmployee.Id</td>
                                <td>@hrEmployee.Name</td>
                                <td>@hrEmployee.Email</td>
                                <td>
                                    <a asp-route-id="@hrEmployee.Id" asp-action="EditHrAccount">
                                        <img src="~/images/icons/edit.png" alt="Edit" class="hr-list-action-icon" />
                                    </a>
                                    <a asp-route-id="@hrEmployee.Id">
                                        <img src="~/images/icons/delete.png" alt="Delete" class="hr-list-action-icon" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>