@using Basecode.Data.Models
@using static Basecode.Data.Enums.Enums;
@model ApplicationFormViewModel
@{
    ViewData["Title"] = "Application Form";
}
<body class="applicantForm_body">
    <div class="application-form-container">
        <div class="row">
            <h1 class="text-center">Software Engineer</h1>
        </div>
        <div class="row mt-5 px-5">
            <div class="col d-flex form-header mb-3">
                <a asp-controller="Job" asp-action="JobDescription">
                    <p class="text-bold text-black mb-1 align-self-center me-3">Job Details</p>
                </a>
                <p class="text-bold mb-1 ms-5 align-self-center text-red">Application</p>
            </div>
        </div>
        <div class="form">
            <form asp-controller="HR" asp-action="ApplicationFormViewModel" enctype="multipart/form-data" id="application_form" novalidate>
                <!--Resume-->
                <div class="row text-header text-bold ps-2">Resume</div>
                <div class="row form-row form-group file-drop my-3 mx-1 py-4">
                    <div>
                        <img src="/images/icons/resume-upload.png" />
                    </div>
                    <input type="file" id="resumeFile" name="resumeFile" class="file-input" onchange="displayFileName()" />
                    <label for="resumeFile" class="file-label">
                        <span id="fileText" class="file-text text-bold">Choose a file or Drag it here</span>
                    </label>

                    <script>
                        function displayFileName() {
                            var fileInput = document.getElementById("resumeFile");
                            var fileName = fileInput.files[0].name;
                            var fileText = document.querySelector(".file-label .file-text");
                            fileText.textContent = fileName;
                        }
                    </script>
                </div>
                <!--Personal Information-->
                <div class="row text-header text-bold ps-2 mt-4">Personal Information</div>
                <div class="row form-row mt-3">
                    <div class="col-12 col-md-3">
                        <div class="row form-row text-center">
                            <label>Photo (Optional):</label>
                        </div>
                        <div class="col form-group file-drop mt-1 p-3">
                            <div>
                                <img src="/images/icons/upload-image.png" />
                            </div>
                            <input asp-for="Applicant.Photo" type="file" name="photo" class="file-input" onchange="displayImageName('photo', 'photoText')" />
                            <label for="photo" class="file-label">
                                <span id="photoText" class="file-text">Choose a file or Drag it here</span>
                            </label>

                            <script>
                                function displayImageName(photoInputId, photoTextId) {
                                    var photoInput = document.getElementById(photoInputId);
                                    var photoFileName = photoInput.files[0].name;
                                    var photoText = document.getElementById(photoTextId);
                                    photoText.textContent = photoFileName;
                                }
                            </script>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 mt-3 mt-md-0">
                        <label>Name: </label>
                        <div class="row">
                            <div class="col col-md-4 form-group mt-2">
                                <input asp-for="Applicant.FirstName" class="form-control" type="text" name="firstname" placeholder="First Name" required />
                            </div>
                            <div class="col col-md-4 form-group mt-2">
                                <input asp-for="Applicant.MiddleName" class="form-control" type="text" name="middlename" placeholder="Middle Name" required />
                            </div>
                            <div class="col col-md-4 form-group mt-2">
                                <input asp-for="Applicant.LastName" class="form-control" type="text" name="lastname" placeholder="Last Name" required />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 form-group mt-1">
                                <label for="birthday">Birthday:</label>
                                <input asp-for="Applicant.BirthDate" class="form-control" type="date" name="birthday" required />
                            </div>
                        </div>
                    </div>
                </div>
                <!--Contact Information-->
                <div class="row text-header text-bold ps-2 mt-4">Contact Information</div>
                <div class="row form-row mt-3">
                    <label>Address: </label>
                    <div class="col-12 form-group mt-2">
                        <input asp-for="Address.Street" class="form-control" id="street" type="text" name="street" placeholder="Street" required/>
                    </div>
                    <div class="col-sm-6 col-md-4 form-group mt-2">
                        <input asp-for="Address.City" class="form-control" id="city" type="text" name="city" placeholder="City" required />
                    </div>
                    <div class="col-sm-6 col-md-4 form-group mt-2">
                        <input asp-for="Address.Province" class="form-control" id="province" type="text" name="province" placeholder="Province / State" required/>
                    </div>
                    <div class="col-sm-6 col-md-4 form-group mt-2">
                        <input asp-for="Address.ZipCode" class="form-control" id="zipcode" type="number" name="zipcode" placeholder="Postal / Zipcode" required />
                    </div>
                </div>
                <div class="row form-row mt-3">
                    <div class="col-sm-6 form-group mt-1">
                        <label for="number">Phone Number:</label>
                        <input asp-for="Applicant.PhoneNumber" class="form-control" id="number" type="number" name="number" required />
                    </div>
                    <div class="col-sm-6 form-group mt-1">
                        <label for="email">Email Address:</label>
                        <input asp-for="Applicant.Email" class="form-control" id="email" type="text" name="email" required />
                    </div>
                </div>
                <!--References-->
                <div class="row text-header text-bold ps-2 mt-4">References</div>
                <div class="row form-row mt-3">
                    <label class="text-bold text-center">Please list two (2) references (who are not family or relatives) that are familiar with your work life.</label>
                </div>
                <div class="row form-row mt-3">
                    <label class="text-bold">Reference 1</label>
                    <div class="row form-row">
                        <div class="col-sm-6 col-md-4 form-group mt-2">
                            <label for="name">Full Name: </label>
                            <input asp-for="CharacterReferences.Name" class="form-control" id="name" type="text" name="name" required />
                        </div>
                        <div class="col-sm-6 col-md-4 form-group mt-2">
                            <label for="relationship">Relationship:</label>
                            <input asp-for="CharacterReferences.Relationship" class="form-control" id="relationship" type="text" name="relationship" required />
                        </div>
                        <div class="col-sm-6 col-md-4 form-group mt-2">
                            <label for="email">Email Adress:</label>
                            <input asp-for="CharacterReferences.Email" class="form-control" id="email" type="text" name="email" required/>
                        </div>
                        <div class="col-sm-6 col-md-4 form-group mt-2">
                            <label for="number">Phone Number:</label>
                            <input asp-for="CharacterReferences.MobileNumber" class="form-control" id="number" type="number" name="number" required />
                        </div>
                    </div>
                </div>
                <div class="row form-row mt-3">
                    <label class="text-bold">Reference 2</label>
                    <div class="row form-row">
                        <div class="col-sm-6 col-md-4 form-group mt-2">
                            <label for="name">Full Name: </label>
                            <input asp-for="CharacterReferences.Name" class="form-control" id="name" type="text" name="name" required/>
                        </div>
                        <div class="col-sm-6 col-md-4 form-group mt-2">
                            <label for="relationship">Relationship:</label>
                            <input asp-for="CharacterReferences.Relationship" class="form-control" id="relationship" type="text" name="relationship" required />
                        </div>
                        <div class="col-sm-6 col-md-4 form-group mt-2">
                            <label for="email">Email Adress:</label>
                            <input asp-for="CharacterReferences.Email" class="form-control" id="email" type="text" name="email" required/>
                        </div>
                        <div class="col-sm-6 col-md-4 form-group mt-2">
                            <label for="number">Phone Number:</label>
                            <input asp-for="CharacterReferences.MobileNumber" class="form-control" id="number" type="number" name="number" required />
                        </div>
                    </div>
                </div>
                <!--Additional Information-->
                <div class="row text-header text-bold ps-2 mt-4">Additional Information</div>
                <div class="row form-row mt-3">
                    <div class="col-12 form-group mt-1">
                        <label for="additional">How did you hear about us?</label>
                        <select class="form-select mt-3" id="additional" name="additional" required>
                            <option selected disabled value="">Choose...</option>
                            <option value="@AdditionalInfo.LinkedInJobPost">LinkedIn Job Post</option>
                            <option value="@AdditionalInfo.RecruitmentTeam">Recruitment Team</option>
                            <option value="@AdditionalInfo.PeersFriends">Peers & Friends</option>
                            <option value="@AdditionalInfo.SocialMediaPlatforms">Social Media Platforms</option>
                            <option value="@AdditionalInfo.CareerPage">Career Page</option>
                            <option value="@AdditionalInfo.Others">Others</option>
                        </select>
                    </div>
                </div>
                <div class="row form-row mt-3">
                    <div class="text-center mt-3">
                        <input type="checkbox" id="agreeCheckbox" name="agreeCheckbox" required />
                        <label for="agreeCheckbox" class="checkmark"></label>
                        <span class="terms-link">I agree to the <a asp-controller="Applicant" asp-action="TermsAndConditions"><span class="text-red">terms and conditions</span></a></span>
                        <div class="invalid-feedback">
                            &#8593; You must agree before submitting.
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button class="btn btn-primary mt-2 py-2 px-5" type="submit" onclick="checkValidity()">
                            <a asp-controller="Applicant" asp-action="ApplicationForm">
                                <h5 class="submit-btn m-0">Submit</h5>
                            </a>
                        </button> 
                    </div>
                </div>
            </form>
        </div>
        <div class="text-center mt-5">
            <div class="text-footer">© 2019 Alliance Software Incorporated. All Rights Reserved</div>
            <div class="mt-2">
                <img src="~/images/asi-logo-invert.png" alt="Footer Image">
            </div>
        </div>
    </div>
</body>

<!-- Fill All Required Fields Modal -->
<div class="modal fade" id="FillAllRequiredFields" tabindex="-1" role="dialog" aria-labelledby="FillAllRequiredFieldsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center pb-4">
                <img class="notice-icon" src="~/images/icons/notice_icon.svg" />
                <button type="button" class="close d-none" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="text-center">Application <b>not submitted</b><br />Please fill out all required forms</h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <h5 class="pb-0 m-0">Close</h5>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Fill Application Submitted Modal -->
<div class="modal fade" id="ApplicationSubmitted" tabindex="-1" role="dialog" aria-labelledby="ApplicationSubmittedLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center pb-4">
                <img class="notice-icon" src="~/images/icons/notice_icon.svg" />
                <button type="button" class="close d-none" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="text-center">Application has been <b>submitted</b> successfully!<br />Check your email.</h4>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <h5 class="pb-0 m-0">Close</h5>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    //Check whether all required fields are filled.
    document.getElementById('application_form').addEventListener('submit', function (event) {
        if (!this.checkValidity()) { // If not 
            $('#FillAllRequiredFields').modal('show'); // Show the 'Fill All required Fields'modal
            event.preventDefault();
            event.stopPropagation();
        }
        else {
            $('#ApplicationSubmitted').modal('show');
            event.preventDefault();
            event.stopPropagation();
        }
        this.classList.add('was-validated'); 
    });
</script>