@{
    ViewData["Title"] = "Job Applicants Overview";
    Layout = "_SideBarAdmin";
    <link rel="stylesheet" href="~/css/JobApplicantsOverview.css" />
}

<div class="container-header shadow-sm">
    <div class="row">
        <div class="col-auto d-flex align-items-lg-center ps-5">
            <h2 class="m-0 ps-2">@ViewData["Title"]</h2>
        </div>
    </div>
</div>
<div class="pt-4"></div> <!-- a buffer to push content down so that header won't cover it' -->
<div class="table-container mt-5">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Position Name</th>
                    <th>No. of Applicants</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 1; i <= 20; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>Position @i</td>
                        <td>@i</td>
                        <td>
                            <a asp-route-id="@i" asp-controller="HR" asp-action="ViewApplicants">View Applicants</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchQuery = $(this).val().toLowerCase();

            $('tbody tr').each(function () {
                var id = $(this).find('td:first-child').text().toLowerCase();
                var position = $(this).find('td:nth-child(2)').text().toLowerCase();
                var name = $(this).find('td:nth-child(3)').text().toLowerCase();
                var status = $(this).find('td:nth-child(4)').text().toLowerCase();

                if (id.includes(searchQuery) || position.includes(searchQuery) || name.includes(searchQuery) || status.includes(searchQuery)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>